section#about-us-hero {
  background-color: pink;
  padding: 10px 150px;
  box-sizing: border-box;
}
.about-us-name {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section#who-we-are {
  /* background-color: aquamarine; */
  padding: 10px 150px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  margin-top: 38px;
}
section#who-we-are .text-img {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  /* background-color: rgb(180, 116, 240); */
}
section#who-we-are .text-img h1 {
  text-decoration: underline;
}
section#who-we-are .text-img p {
  /* background-color: brown; */
  width: 70%;
}
section#who-we-are .text-img .img-content {
  width: 400px;
  margin-left: 20px;
  margin-top: 10px;
  border: 3px solid rgb(166, 166, 166);
}
section#who-we-are .text-img .img-content img {
  width: 400px;
  margin-top: -20px;
  margin-left: -20px;
  object-fit: contain;
}
section#who-we-are .we-are-icon {
  width: 50%;
  /* background-color: beige; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
section#who-we-are .we-are-icon .icon-content {
  /* background-color: aquamarine; */
  padding: 10px;
  font-size: 13px;
  width: 70%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
section#who-we-are .we-are-icon .icon-content img {
  width: 65px;
}
section#taharica-history {
  padding: 10px 150px;
  margin-top: 100px;
}
section#taharica-history h1 {
  text-align: center;
}
section#taharica-history .taharica-history-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 14px;
}
section#taharica-history .taharica-history-img img {
  width: 100%;
}
section#your-industrial {
  background-color: #ececec;
}
section#your-industrial h1 {
  text-align: center;
}
section#your-industrial .industrial-icon {
  display: grid;
  padding: 10px 150px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
section#your-industrial .industrial-icon .industrial-icon-content {
  text-align: center;
}
section#your-industrial .industrial-icon img {
  width: 20%;
}
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background-color: #ffff;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    transition: right 0.3s;
    z-index: 1001;
  }

  .nav-links a {
    padding: 15px 0;
    width: 100%;
  }
  .nav-links a:hover {
    color: red;
  }

  .navbar .hamburger {
    display: block;
    font-size: 30px;
  }

  .img-logo {
    width: 200px;
  }

  .search-container {
    width: 100%;
    margin-left: 0;
  }

  .dropdown-icon {
    top: 16px;
    transform: rotate(134deg);
    left: 62px;
  }

  .dropdown-content {
    position: absolute;
    top: 34px;
    left: -8px;
  }
  section#about-us-hero {
    padding: 5px;
  }
  section#who-we-are {
    padding: 5px;
    flex-direction: column;
  }
  section#who-we-are .text-img {
    width: 100%;
  }
  section#who-we-are .text-img p {
    width: 90%;
  }
  section#who-we-are .text-img .img-content {
    width: 80vw;
  }
  section#who-we-are .text-img .img-content img {
    width: 70vw;
  }
  section#who-we-are .we-are-icon {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    place-items: center;
  }
  section#taharica-history {
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
  }
  section#your-industrial .industrial-icon {
    padding: 5px;
  }
  section#your-industrial .industrial-icon img {
    width: 80%;
  }
  section#your-industrial .industrial-icon .industrial-icon-content p {
    font-size: 12px;
  }
}
