.container.about-hero {
  max-height: 1500px;
  display: flex;
  justify-content: end;
  max-width: 1500px;
  margin: auto;
  position: relative;
}
.container.about-hero img {
  width: 70%;
}
.container.about-hero h5 {
  font-size: 14px;
  width: 19%;
  /* background-color: blue; */
  height: fit-content;
  margin-top: 220px;
}
.container.about-hero h5:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  right: 5%;
}
.container.about-hero .about-us {
  position: absolute;
  left: 4%;
  bottom: 0;
  font-size: 70px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: right;
}
.container.about-hero .about-us h1 {
  margin: 0;
  letter-spacing: 24px;
}
.container.about-hero .about-us .line {
  width: 350px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 75%;
  left: 20%;
}
