#detail-article {
  padding: 10px 150px;
  box-sizing: border-box;
  /* background-color: pink; */
  height: max-content;
  width: 100%;
}
.detail-article-pages-name {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#detail-article article {
  width: 100%;
  height: fit-content;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#detail-article .head-article {
  /* background-color: azure; */
  width: 50%;
  height: 200px;
  text-align: center;
  margin-top: 70px;
}
#detail-article .head-article .badges {
  background-color: rgb(204, 204, 204);
  padding: 8px 24px;
  /* width: 50px; */
  width: fit-content;
  margin: auto;
  border-radius: 16px;
  color: #5d5d5d;
}
#detail-article article .head-article h1 {
  font-size: 32px;
}
#detail-article article .head-article .article-date {
  color: gray;
}
#detail-article article .article-content-img {
  width: 90%;
  height: max-content;
  /* background-color: red; */
  text-align: center;
}
#detail-article article .article-paragraph {
  width: 80%;
  /* background-color: yellow; */
  text-align: justify;
  line-height: 1.4;
}
.related-product-title {
  margin-top: 80px;
}
#detail-article .related-product {
  width: 100%;
  height: max-content;
  /* background-color: rebeccapurple; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#detail-article .related-product .product-card {
  width: 250px;
  height: 300px;
  background-color: #fff;
  text-align: center;
  border-radius: 16px;
}
#detail-article .related-product .product-card .product-card-img {
  width: 100%;
  height: 70%;
}
#detail-article .related-product .product-card .product-card-img img {
  object-fit: cover;
  height: 100%;
}
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background-color: #ffff;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    transition: right 0.3s;
    z-index: 1001;
  }

  .nav-links a {
    padding: 15px 0;
    width: 100%;
  }
  .nav-links a:hover {
    color: red;
  }

  .navbar .hamburger {
    display: block;
    font-size: 30px;
  }

  .img-logo {
    width: 200px;
  }

  .search-container {
    width: 100%;
    margin-left: 0;
  }

  .dropdown-icon {
    top: 16px;
    transform: rotate(134deg);
    left: 62px;
  }

  .dropdown-content {
    position: absolute;
    top: 34px;
    left: -8px;
  }
  #detail-article {
    padding: 5px;
  }
  #detail-article .head-article {
    width: 100%;
  }
  #detail-article article .head-article h1 {
    font-size: 28px;
  }
  #detail-article article .article-content-img {
    width: 100%;
    text-align: center;
  }
  #detail-article article .article-content-img img {
    width: 90vw;
  }
  .related-product-title {
    margin-top: 80px;
    text-align: center;
  }
  #detail-article .related-product {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
