body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Product Pages */
#product-pages {
  padding: 0 90px;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
}

.product-pages-name {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-product-pages {
  /* background-color: pink; */
  max-width: 1300px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 0.7fr);
  gap: 15px;
}

/* Filter Container */
.filter-container {
  width: max-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5px 14px;
  border: 1px solid black;
  border-radius: 12px;
  gap: 7px;
  height: max-content;
}

.filter-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.filter-content .filter-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.filter-footer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.filter-footer button {
  padding: 12px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* Product Cards */
.product-content-container .product-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: antiquewhite; */
  gap: 10px;
}

.products-card {
  width: 300px;
  height: 400px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-card-img {
  width: 100%;
  height: 50%;
}

.product-card-img img {
  height: 100%;
  object-fit: cover;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card-content button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.product-container {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 80px;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
/* Pagination */
#product-pages .product-container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#product-pages .product-container .pagination .next-pagination a,
#product-pages .product-container .pagination .prev-pagination a {
  text-decoration: none;
  color: black;
}

#product-pages .product-container .pagination .number-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

#product-pages .product-container .pagination .number-pagination .active {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  margin-top: 310px;
}

.footer-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.container-footer-logo {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

.footer-logo-content {
  width: 80%;
  height: 200px;
  background-color: white;
  box-shadow: 0px 0px 8px 1px rgba(125, 125, 125, 1);
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo-content img {
  width: 50%;
}

form.email-input-footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.email-input1,
.email-input2 {
  background-color: white;
  width: 300px;
  padding: 12px 10px;
  border-radius: 16px;
}

.email-input1::placeholder,
.email-input2::placeholder {
  text-align: center;
}

.footer-content {
  width: 450px;
  min-height: 300px;
}

.footer-company,
.footer-help,
.footer-faq,
.footer-contact {
  width: fit-content;
  height: fit-content;
}

.company-content,
.help-content,
.faq-content,
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-content h3 {
  font-weight: 300;
  font-size: 24px;
}

.footer-break {
  width: 95%;
  height: fit-content;
  margin: auto;
  border-top: 2px solid gray;
  padding: 8px 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  gap: 100px;
  margin-bottom: 40px;
}

.email-footer-break {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.email-footer-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background-color: #fff;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    transition: right 0.3s;
    z-index: 1001;
  }

  .nav-links a {
    padding: 15px 0;
    width: 100%;
  }

  .navbar .hamburger {
    display: block;
    font-size: 30px;
  }

  .search-container {
    width: 100%;
    margin-left: 0;
  }

  .dropdown-icon {
    top: 16px;
    left: 62px;
  }

  .dropdown-content {
    position: absolute;
    top: 34px;
    left: -40px;
  }

  .product-content-container .product-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .hamburger {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .search-container {
    width: 100%;
  }

  .product-content-container .product-card-container {
    grid-template-columns: 1fr;
  }
}
