body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Product Pages */
#product-pages {
  padding: 0 90px;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  /* background-color: aquamarine; */
}

.product-pages-name {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-product-pages {
<<<<<<< HEAD
  width: 100%;
  /* height: 70%; */
  /* background-color: beige; */
  /* display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
=======
  /* background-color: pink; */
  max-width: 1500px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
>>>>>>> staging
}

/* Filter Container */
.filter-container {
  width: max-content;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  padding: 5px 14px;
  border: 1px solid black;
  border-radius: 12px;
  gap: 7px;
  height: max-content;
}

.filter-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.filter-content .filter-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.filter-footer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.filter-footer button {
  padding: 12px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
<<<<<<< HEAD
#product-pages .product-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 100px;
  /* background-color: rebeccapurple; */
=======

/* Product Cards */
.product-content-container {
  width: 100%;
>>>>>>> staging
}
.product-content-container .product-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
<<<<<<< HEAD
  gap: 32px 14px;
  /* background-color: rgb(29, 227, 78); */
  height: max-content;
=======
  /* background-color: antiquewhite; */
  gap: 90px 5px;
>>>>>>> staging
}

.products-card {
<<<<<<< HEAD
  /* background-color: aquamarine; */
  /* height: auto; */
  width: 300px;
  height: 400px;
=======
  width: 300px;
  height: 300px;
  /* background-color: aqua; */
>>>>>>> staging
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.products-card a {
  width: 100%;
}

.product-card-img {
  width: 100%;
  height: 250px;
}

.product-card-img img {
  height: 100%;
<<<<<<< HEAD
  object-fit: contain;
=======
  object-fit: cover;
>>>>>>> staging
}

.product-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: crimson; */
}
.product-card-content h4 {
  width: 100%;
  height: 37px;
}

.product-card-content button {
  background-color: red;
  width: 100%;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
<<<<<<< HEAD
#product-pages .product-container .pagination {
  /* background-color: red; */
=======
.product-container {
  display: flex;
  /* background-color: rgb(86, 199, 116); */
  justify-items: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
/* Pagination */
#product-pages .product-container .pagination {
>>>>>>> staging
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px auto;
}
<<<<<<< HEAD
=======

>>>>>>> staging
#product-pages .product-container .pagination .next-pagination a,
#product-pages .product-container .pagination .prev-pagination a {
  text-decoration: none;
  color: black;
}
<<<<<<< HEAD
=======

>>>>>>> staging
#product-pages .product-container .pagination .number-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  /* background-color: aqua; */
}
<<<<<<< HEAD
=======

>>>>>>> staging
#product-pages .product-container .pagination .number-pagination .active {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}
.paggination {
}
.paggination .number-paggination {
}
.paggination .number-paggination .active {
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  margin-top: 310px;
}

.footer-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.container-footer-logo {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

.footer-logo-content {
  width: 80%;
  height: 200px;
  background-color: white;
  box-shadow: 0px 0px 8px 1px rgba(125, 125, 125, 1);
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo-content img {
  width: 50%;
}

form.email-input-footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.email-input1,
.email-input2 {
  background-color: white;
  width: 300px;
  padding: 12px 10px;
  border-radius: 16px;
}

.email-input1::placeholder,
.email-input2::placeholder {
  text-align: center;
}

.footer-content {
  width: 450px;
  min-height: 300px;
}

.footer-company,
.footer-help,
.footer-faq,
.footer-contact {
  width: fit-content;
  height: fit-content;
}

.company-content,
.help-content,
.faq-content,
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-content h3 {
  font-weight: 300;
  font-size: 24px;
}

.footer-break {
  width: 95%;
  height: fit-content;
  margin: auto;
  border-top: 2px solid gray;
  padding: 8px 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  gap: 100px;
  margin-bottom: 40px;
}

.email-footer-break {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.email-footer-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .container-product-pages {
    /* background-color: pink; */
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .product-content-container .product-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background-color: #fff;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    transition: right 0.3s;
    z-index: 1001;
  }

  .nav-links a {
    padding: 15px 0;
    width: 100%;
  }

  .navbar .hamburger {
    display: block;
    font-size: 30px;
  }

  .search-container {
    width: 100%;
    margin-left: 0;
  }

  .dropdown-icon {
    top: 16px;
    left: 62px;
  }

  .dropdown-content {
    position: absolute;
    top: 34px;
<<<<<<< HEAD
    left: -8px;
  }

  /* Separator */
  .separator {
    display: flex;
    height: 100px;
    background-color: black;
    margin-top: 50px;
  }
  .btn-pages {
    color: #292929;
    font-size: 12px;
    padding: 0px 20px;
    text-decoration: none;
  }
  #product-pages {
    /* background-color: aquamarine; */
    height: max-content;
    padding: 0 20px;
  }
  #product-pages .product-container {
    width: 100%;
    /* background-color: rgb(255, 111, 111); */
    overflow: hidden;
  }
  .filter-container {
    width: 150px;
  }
  .filter-container h3 {
    font-size: 16px;
  }
  .filter-container .filter-content .filter-item {
    font-size: 12px;
  }
  .filter-footer button {
    padding: 4px;
    border-radius: 8px;
    font-size: 12px;
=======
    left: -40px;
>>>>>>> staging
  }

  .product-content-container .product-card-container {
    grid-template-columns: repeat(1, 1fr);
<<<<<<< HEAD
    gap: 32px;
    /* background-color: aquamarine; */
  }
  .products-card {
    /* background-color: rgb(255, 155, 127); */
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  #product-pages .product-container .pagination {
    gap: 6px;
    justify-content: start;
    align-items: center;
    width: fit-content;
  }
  #product-pages .product-container .pagination .number-pagination {
    font-size: 14px;
    gap: 6px;
  }
  #product-pages
    .product-container
    .pagination
    .number-pagination
    .mobile-none {
    display: none;
  }
  #product-pages .product-container .pagination .prev-pagination,
  #product-pages .product-container .pagination .next-pagination {
    display: flex;
    font-size: 12px;
    gap: 4px;
=======
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .hamburger {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .search-container {
    width: 100%;
  }

  .product-content-container .product-card-container {
    grid-template-columns: 1fr;
>>>>>>> staging
  }
}
